<md-toolbar layout="row" layout-align="space-between center" style="background-color: #474747;outline:none" flex>
    <div style="margin:auto 30px auto 30px;font-weight: 900;font-size: 1.5em">
        Angular
    </div>
    <div layout="row" flex>
        <a ng-class="ctrl.clients" style="text-decoration:none" ui-sref="main.clients"><h6 style="margin:25px;color:white">Clients</h6></a>
        <a ng-class="ctrl.products" style="text-decoration:none" ui-sref="main.products"><h6 style="margin:25px;color:white">Products</h6></a>
    </div>
    <div style="margin-right: 30px;cursor: pointer">
        <md-icon md-svg-icon="/material-icons/ic_exit_to_app_48px.svg" aria-label="Logout" ng-click="ctrl.logout()">
            <md-tooltip md-direction="left">Exit</md-tooltip>
        </md-icon>
    </div>
</md-toolbar>