<md-toolbar layout="row" layout-align="space-between center" class="animated fadeInDown" style="background-color: #474747;outline:none"
flex>
    <div ui-sref="main" style="margin:auto auto auto 30px;font-weight: 900;font-size: 1.5em">
        Angular
    </div>
    <div style="margin-right: 30px;cursor: pointer">
        <md-icon md-svg-icon="/material-icons/ic_exit_to_app_48px.svg" aria-label="Logout" ng-click="ctrl.logout()">
            <md-tooltip md-direction="left">Exit</md-tooltip>
        </md-icon>
    </div>
</md-toolbar>